.footer-container {
  height: fit-content;
  padding: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  font-size: 12px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-account {
  display: flex;
  flex-direction: column;
}

.title-footer {
  color: white !important;
}

.footer-link {
  color: white !important;
  line-height: 25px;
}

.footer-icon {
  color: white !important;
  font-size: 18px;
}

a:active,
a:hover,
a:visited,
a:link {
  color: white;
}
